@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600;700;800;900&display=swap');

* { 
  margin: 0;  
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;

}

body {
   overflow: hidden;
}

#webgl {
    position: absolute;
    left: 0;
    top: 0;
     width: 100vw;
     height: 100vh;

}

audio {
    display: none;
}

.point {
   position: absolute;
   left: 50%;
   top: 50%;
   font-size: 34px;
   color: black;
   transition: 0.04 linear;
   cursor: pointer;
}

.point::selection {
   background: transparent;
}

.icon {
  position: absolute;
   left: 50%;
   top: 50%;
  font-size: 15px;
   color: rgba(0,0,0,0.7);
}

.lil-gui {
   display: none !important;
}


.model-btns {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1000000;
}

#original-position-btn {
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%,0%);
    width: 70px;
    height: 70px;
    background: black;
    border: 4px solid white;
    box-shadow: 0 8px 55px rgba(0,0,0,0.65);
    color: white;
    border-radius: 50%;
    font-size: 28px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.preloader {
   position: absolute;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   background: rgb(32, 32, 32);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   z-index: 10000;
   color: white
}

.preloader h1 {
   font-size: 50px;
}

.Enter-btn {
    display: none;
    margin-top: 20px;
    padding: 9px 45px;
    background: white;
    color: black;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 9px;
    font-size: 20px;
    cursor: pointer;
}


.lil-gui {
   display: block !important;
   position: relative;
   z-index: 1005 !important
}

.audio-icon {
   position: absolute;
   right: 25px;
   bottom: 20px;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.audio-icon i {
    font-size: 29px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.25);
    color: white;
    z-index: 100;
}


.mynavbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 8px 20px;
   z-index: 100;
   background: transparent
 }
 
 .navlogo {
    width: 110px;
 }
 
 .menu-btn {
   font-size: 34px;
   cursor: pointer;
 }
 
 .menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    transform: translateX(110%);
    transition: 0.8s cubic-bezier(0.65, 0, 0.35, 1);
    z-index: 1000;
 }
 
 .menu-body {
   width: 100%;
   display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
 }
 
 .open-menu {
      transform: translateX(0%)
 }

 .close-menu-container {
   position: absolute;
   right: 2%;
   top: 3%;
   display: flex;
   align-items: center;
   gap: 11px;
 }

 .close-menu-container h1 { 
   color: white;
   font-size: 19px;
   font-weight: 800;
   margin-top: 8px;
 }
 
 .menu-close-btn {

  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 36px;
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.4s ease;
 }
 
 
 .menu-items {
    margin-top: 70px;
    padding: 5px 35px;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
 }
 
 .menu-items h1 {
    color: white;
    font-size: 60px;
    letter-spacing: 0.6px;
    font-weight: 800;
    cursor: pointer;
   transition: all 0.4s ease;
 }
 
 .menu-items h1:hover {
   color: #FFD700;
 }
 
 .logo-text {
    margin-top: 25px;
    margin-left: 40px;
    font-size: 30px;
    color: white;
    font-weight: 800;
    letter-spacing: 0.8px;
 }

 .play-trailer-btn {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   background: rgb(226, 226, 226);
   padding: 0px 10px;
   padding-left: 15px;
   border-radius: 50px;
   cursor: pointer;
 }

 .play-trailer-btn p {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 800;
 }
 
.play-trailer-btn i {
    display: grid;
    place-items: center;
    font-size: 16px;
    color: white;
    background: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.4s ease;
}

.play-trailer-btn i:hover {
    background: #FFD700;
}

.social-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin: auto;
   }

.link-item {
   color: #DCDCDC;
   font-size: 20px;
   width: 320px;
   display: flex;
   align-items: center;
   justify-content: space-between;    
  cursor: pointer;
   }

   .link-item p {
       text-transform: uppercase;
   }

   .link-item i {
       display: grid;
       place-items: center;
       margin-bottom: 10px;
   }
   

   .white-divider {
       width: calc(100vw - 10vw);
       height: 3px;
       background: white;
     
       margin: 30px auto;
   }

.menu-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    width: 100vw;
    padding: 5px 25px;
}

.footer-links {
    display: flex;
    align-items: center;
    color: white;
    gap: 17px;
}

.footer-links p {
    cursor: pointer;
}

.new-modal {
   display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 10px;
grid-row-gap: 0px;
padding: 90px 18px;
    background: white;
    min-width: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,110%);
    z-index: 1000;
    border-radius: 12px;
transition: 0.7s ease;
}

.active-modal {
   transform: translate(-50%,-50%);
}

.map-image {
    width: 280px;
    border-radius: 6px;
    height: auto;
    object-fit: cover;
}

.nft-image {
    width: 260px;
    height: 260px;
    border-radius: 50%;
}

.modal-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.modal-close-btn {
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 35px;
    color: black;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
}

.search-input {
    padding: 9px 18px;
    padding-right: 35px;
    border-radius: 40px;
    border: 1px solid rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.search-input:focus {
    outline: 0;
    border: 1px solid rgba(0,0,0,0.8);
    box-shadow: 0 5px 9px rgba(0,0,0,0.25)
}

.events-images-container {
    margin-top: 35px;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
}

.events-images-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 9px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25)
}




.modal-body-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signup-options {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    align-items: center;
}

.signup-icon {
    width: 65px;
    height: auto;
    cursor: pointer;
    transition: 0.4s ease;
}

.signup-icon:hover {
    transform: scale(1.15);
}

.referal-image {
    width: 80%;
    height: auto;
    border-radius: 9px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.22)
}

.dollar-logo {
    width: 160px;
    height: auto;
}

.social-icons {
    display: flex;
    align-items: center;
    gap:10px;
}

.social-icons i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: black;
    color: white;
    font-size: 19px;
    cursor: pointer;
    transition: 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.1);
}

.col .event-image {
    width: 170px;
    height: auto;
    border-radius: 7px;
}

.col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.youtube-video {
    border-radius: 14px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.4);
    transition: 0.4s ease;
}

.youtube-video:hover {
     transform: scale(1.035);
     box-shadow: 0 8px 18px rgba(0,0,0,0.62);

}

.add-padding {
    padding: 6px 26px !important;
}

.bi-facebook {
    background: #1194F4 !important;
}

.bi-instagram {
    background: #FF66F1  !important
}

.bi-twitter {
    background: #1D9BF0 !important
}

.fade {
    backdrop-filter: blur(28px) !important;

}

.modal-gap {
     padding: 20px 18px !important
}

.modal-content {
     background: rgb(225, 225, 225) !important;
     border-radius: 20px !important;
     box-shadow: inset 0 4px 5px rgba(255,255,255,1),
                inset 0 -4px 5px rgba(0,0,0,0.35);
}


.vision-text {
     margin: 0 auto ;
     text-align: center;
     font-size:50px;
     margin-bottom: 10px;
     letter-spacing: 1.5px;
     background: linear-gradient(180deg, #5C58FF 0%, #5986F9 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
font-weight: 900;
text-transform: uppercase;
filter: drop-shadow(0 2px 5px rgba(123, 149, 255, 0.7) );
transition: 0.4s ease;
}

.vision-text:hover {
     letter-spacing: 5px;
}

.search-container {
     position: relative;
}

.search-icon {
     position: absolute;
     right: 13px;
     top: 50%;
     transform: translateY(-50%);
     font-size: 17px;
     z-index: 10;
     cursor: pointer;
}

.teams-grid {
    padding: 0 60px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(6, 250px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.teams-grid div {
     background: red;

}

.play-trailer-modal {
    display: none;
    place-items: center;
     padding: 70px 60px;
     position: absolute;
     left: 0;
     top: 0;
     width: 100vw;
     height: 100vh;
     background: rgba(0,0,0,0.45);
     backdrop-filter: blur(32px);
     z-index: 1000;
}

.play-trailer-modal iframe{
    position: relative;
width: 100%;
height: 100%;
box-shadow: 0 4px 14px rgba(0,0,0,0.25)
}

.trailer-player-close {
     position: absolute;
     right: 20px;
     top: 20px;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background: white;
     display: grid;
     place-items: center;
     font-size: 30px;
     cursor: pointer;
}

.reset-camera-btn {
   position: absolute;
   left: 50%;
   bottom: 2%;
   transform: translate(-50%,-50%);
   scale: 0;
   padding: 12px 28px;
   color: white;
   border-radius: 7px;
   background: rgb(255, 37, 37);
   box-shadow: 0 3px 9px rgba(255, 37, 37,0.5);
   border: 0;
   font-size: 18px;
   z-index: 50;
   cursor: pointer;
}

.active-camera-btn {
     scale: 1;
}

.outofrange-screen {
    opacity: 0;
     width: 100vw;
     height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    z-index: 1000;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    }

  .outofrange-screen h1 {
     font-size: 38px;
     transform: translateY(1300%);
     background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 800;
  }  


 @media (max-width: 650px){
   .menu-items h1 {
     font-size: 40px;
   }
   
   .menu-items {
      padding: 5px 30px;
   }
   
   .logo-text {
      margin-left: 13px;
      font-size: 20px;
   }

   .close-menu-container h1 {
       font-size: 16px;
   }

   
   .new-modal {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      padding: 35px 15px;
   }

   .nft-image {
      width: 160px;
      height: 160px;
      margin: auto;
   }

   .menu-body {
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
    }

   
 }
 
 @media (max-width: 460px){
   .menu-items h1 {
     font-size: 28px;
   }

   .new-modal {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);

   }

   .nft-image {
      width: 160px;
      height: 160px;
      margin: auto;
   }
 }
 