* { 
  margin: 0;  
  box-sizing: border-box;
}

body {
   overflow: hidden;
}

audio {
    display: none;
}

.point {
   position: absolute;
   left: 50%;
   top: 50%;
   font-size: 34px;
   color: black;
   transition: 0.04 linear;
   cursor: pointer;
}

.point::selection {
   background: transparent;
}

.icon {
  position: absolute;
   left: 50%;
   top: 50%;
  font-size: 15px;
   color: rgba(0,0,0,0.7);
}

.lil-gui {
   display: none !important;
}

.my-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  padding: 8px 20px;
  padding-right: 70px;
  z-index: 1000;
}

.logo {
   width: 100px;
   height: auto;
   mix-blend-mode: screen !important;
}

.navbar-row-1 {

}

.navbar-row-2 {
   display: flex;
   align-items: center;
   gap: 40px;
}

.navbar-row-2 a {
   text-decoration: none; 
   color: black
}

.model-btns {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1000000;
}

#original-position-btn {
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%,0%);
    width: 70px;
    height: 70px;
    background: black;
    border: 4px solid white;
    box-shadow: 0 8px 55px rgba(0,0,0,0.65);
    color: white;
    border-radius: 50%;
    font-size: 28px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.preloader {
   position: absolute;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   background: rgb(32, 32, 32);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   z-index: 10000;
   color: white
}

.preloader h1 {
   font-size: 50px;
}
.lil-gui {
   display: block !important;
   position: relative;
   z-index: 1005 !important
}

.audio-icon {
   position: absolute;
   right: 25px;
   bottom: 20px;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.audio-icon i {
    font-size: 29px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.25);
    color: white;
    z-index: 100;
}